.front-about-pic {
  padding: 5px;
  background-color: $panelBodyColor;
  border: 1px solid transparent; 
  
  >div {
  	padding: 0;
  	
  	>div {
  		margin: 5px;
  		overflow: hidden;
		
		a>img {
  			transition: all 1.0s;
  			-webkit-transition: all 1.0s;
		
			&:hover {
				-webkit-transform: scale(1.1);
  				-webkit-transform: scale(1.1);
			}
		}
	}
  }
}
.blueimp-gallery .caption {
  text-align: left;
  margin: 10px auto;
}