.front-about-pic {
  padding: 5px;
  background-color: #fff;
  border: 1px solid transparent; /* ÓëPanelÒ»ÖÂ */
}
.front-about-pic>div {
  padding: 0;
}
.front-about-pic>div>div {
  margin: 5px;
  overflow: hidden;
}
.front-about-pic>div>div>a>img {
  transition: all 1.0s;
  -webkit-transition: all 1.0s;
}
.front-about-pic>div>div>a>img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.blueimp-gallery .caption {
  text-align: left;
  margin: 10px auto;
}