/*TipModal*/

.front-tipmodal {
  top: 2px;
  margin-right: 5px;
  
  &.warning{
  	color:#8a6d3b;
  }
  &.danger{
  	color:#a94442;
  }
  &.success{
  	color:#3c763d;
  }
  &.info{
  	color:#31708f;
  }
}
