/* TipBox */
.front-tipbox {
  top: 50px;

  /* 圆角 */
  border-radius: 4px;

  /* 脱离文档流固定宽度居中 */
  position: fixed;
  width: 200px;
  left: 50%;
  margin-left: -100px;

  /* 默认不显示 */
  display: none;

  /* 在模态框之上 */
  z-index: 1080;
}
.front-tipbox.in {
  display: block;
}
/* 标题行 */
.front-tipbox>.title {
  padding: 8px 8px 0 8px;
  height: 22px;
  text-align: right;
}
/* 关闭按钮 */
.front-tipbox .front-tipbox-close {
  top: -1px;
  color: #777;
  opacity: .4;
  cursor: pointer;
}
.front-tipbox .front-tipbox-close:hover {
  opacity: .8
}
/* 内容 */
.front-tipbox .content {
  text-align: center;
  padding: 0 8px 8px 8px;
  width: auto;
}
/* 内容中的图标 */
.front-tipbox .content>.glyphicon {
  top: 2px;
  margin-right: 5px;
}
/* TipBox 类型 */
.front-tipbox.success {
  color: #3c763d;
  background-color: #dff0d8;
}
.front-tipbox.danger {
  color: #a94442;
  background-color: #f2dede;
}
.front-tipbox.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}
.front-tipbox.info {
  color: #31708f;
  background-color: #d9edf7;
}
