/* TipBox */
.front-tipbox {
  top: 50px;

  /* 圆角 */
  border-radius: 4px;

  /* 脱离文档流固定宽度居中 */
  position: fixed;
  width: 200px;
  left: 50%;
  margin-left: -100px;

  /* 默认不显示 */
  display: none;

  /* 在模态框之上 */
  z-index: 1080;
  
  &.in {
  	display: block;
  }
  
  >.title {
  	/* 标题行 */
  	padding: 8px 8px 0 8px;
  	height: 22px;
  	text-align: right;
  }
  .front-tipbox-close {
  /* 关闭按钮 */
  	top: -1px;
  	color: #777;
  	opacity: .4;
  	cursor: pointer;
	
	&:hover{
		opacity: .8;
	}
  }
  
  .content {
  /* 内容 */
  	text-align: center;
  	padding: 0 8px 8px 8px;
  	width: auto;
  
  	>.glyphicon {
  	/* 内容中的图标 */
  		top: 2px;
  		margin-right: 5px;
	}
  }
  
  &.success{
  	color: #3c763d;
  	background-color: #dff0d8;
  }
  &.danger {
  	color: #a94442;
  	background-color: #f2dede;
  }
  &.warning {
  	color: #8a6d3b;
  	background-color: #fcf8e3;
  }
  &.info {
  	color: #31708f;
  	background-color: #d9edf7;
  }
  
}
