$bodyColor: #e7e7e7;
$navbarColor: yellow;
$navBorderColor:yellow;
$navActiveColor: #3778bc;
$navFontColor:red;
$navFontHoverColor:blue;
$footerColor: yellow;
$bodyFontColor:red;
$navbarImgUrl: "/img/nav.jpg";
$footerImgUrl: "/img/nav.jpg";
$noticeHeaderFontColor:#fff;
$noticeHeaderColor:#99ccff;
$noticeHeaderBorderColor:#6699cc;
$noticeBodyColor:#fff;
$noticeBodyFontColor:#666;