@import "variables";
body {
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
	color: $bodyFontColor;
	background-color: #fff
}
body{
	margin:0;
}
html, body{
    height: 100%;
}
.front-body {
    background-color: $bodyColor;
}
.front-inner {
    padding-top: 70px;
    padding-bottom: 40px;
    position: relative;
    clear: both;
    min-height:100%;
}
.front-last-no-margin p:last-child{ /* 最后一个p不加margin */
    margin: 0 0;
}
.panel-default > .panel-heading {
    color: $noticeHeaderFontColor;
    background-color: $noticeHeaderColor;
    border-color: $noticeHeaderBorderColor;
}
.panel-default {
    border-color: $noticeHeaderBorderColor;
}
.panel-body {
    background-color: $noticeBodyColor;
}
.text-primary {
    color:$noticeBodyFontColor;
}