<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>BtnGroup3</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/front.css"/>
</head>
<body>
  <div class="front-toolbar">
    <div class="front-toolbar-header clearfix">
      <button type="button" class="front-toolbar-toggle navbar-toggle" data-toggle="collapse" data-target="#freeshare-mygroup">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="freeshare-mygroup" class="front-btn-group collapse" data-toggle="buttons">
      <label class="btn btn-default front-no-box-shadow">
        <input type="radio" name="options" autocomplete="off">Button
      </label>
      <label class="btn btn-default front-no-box-shadow">
        <input type="radio" name="options" autocomplete="off">Button
      </label>
      <label class="btn btn-default front-no-box-shadow">
        <input type="radio" name="options" autocomplete="off">Button
      </label>
      <label class="btn btn-default front-no-box-shadow">
        <input type="radio" name="options" autocomplete="off">Button
      </label>
    </div>
    <a class="btn btn-primary">Right</a>
  </div>
  <script src="/js/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="/js/common/front.js"></script>
</body>
</html>