<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Card(1)</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/css/front.css">
</head>
<body>
  <div class="container">
    <div class="panel panel-default front-panel">
      <div class="panel-heading">Title</div>
      <div class="panel-body front-last-no-margin">
        <p>Notice1</p>
        <p>Notice2</p>
        <p>Notice3</p>
        <p>Notice4</p>
      </div>
    </div>
  </div>
</body>
</html>