<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Table</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/front.css" />
</head>
<body>
  <div class="container">
    <div class="panel panel-default front-panel">
      <div class="panel-body front-no-padding">
        <div class="table-responsive">
          <table class="table table-striped front-table">
            <tr>
              <td>这是一个最好的时代，这是一个最坏的时代； 这是一个智慧的年代，这是一个愚蠢的年代；这是一个光明的季节，这是一个黑暗的季节；这是希望之春，这是失望之冬；人们面前应有尽有，人们面前一无所有；人们正踏上天堂之路，人们正走向地狱之门。</td>
            </tr>
            <tr>
              <td>It was the best of times, it was the worst of times, it was the age of wisdom, it was the age offoolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing before us, we were all going direct to Heaven, we were all going direct the other way--in short, the period was so. far like the present period, that some of its noisiest authorities insisted on its being received, for good or for evil, in the superlative degree of comparison only.</td>
            </tr>
            <tr>
              <td>长夜将至，我从今开始守望，至死方休。我将不娶妻，不封地，不生子。我将不戴宝冠，不争荣宠。我将尽忠职守，生死于斯。我是黑暗中的利剑，长城上的守卫，抵御寒冷的烈焰，破晓时分的光线，唤醒眠者的号角，守护王国的坚盾。我将生命与荣耀献给守夜人，今夜如此，夜夜皆然。</td>
            </tr>
            <tr>
              <td>Night gathers, and now my watch begins. It shall not end until my death. I shall take no wife, hold no lands, father no children. I shall wear no crowns and win no glory. I shall live and die at my post. I am the sword in the darkness. I am the watcher on the walls. I am the fire that burns against the cold, the light that brings the dawn, the horn that wakes the sleepers, the shield that guards the realms of men. I pledge my life and honor to the Night's Watch, for this night and all the nights to come.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>