/* 按钮组 */

.front-toolbar {
    position: relative;
    padding-bottom: 10px;
    
    /* 右浮动按钮 */	
    > .btn {
    	@media (min-width: 768px) {
        	float: right;
        }
        @media (max-width: 767px) {
        	position: absolute;
        	top: 0px;
        }	
    }
    /* 折叠菜单 */	
    .navbar-toggle .icon-bar {
    	background-color: #888;
	}	
	.navbar-toggle{
		background-color: #fff;
    	border: 1px solid transparent;
    	border-color: #ccc;
    	margin: 0px;
	}
}


/* 折叠菜单 */
.front-navbar-toggle {
    border-color: #ccc !important;
    margin-right: 0px;
}

/* 按钮组 */
.front-btn-group {
    position: relative;
    vertical-align: middle;
    
    > .btn {
    	position: relative;
    	float: left;
	
		&.active,&:active,&:hover{
			 z-index: 2;
		}
	}
}

/* 水平按钮组 */
@media (min-width: 768px) {
    .other .collapse {
        display: inline-block;
        visibility: visible;
    }
    .front-toolbar .front-toolbar-header {
        display: inline-block;
    }
    
    .front-btn-group {
    	.btn + .btn {
        	margin-left: -1px;
    	}
    	
    	> .btn {
    		&:not(:first-child):not(:last-child){
    			border-radius: 0;
    		}
    		&:first-child {
    			 margin-left: 0;
    		}
    		&:first-child:not(:last-child) {
    			border-bottom-right-radius: 0;
        		border-top-right-radius: 0;
    		}
    		&:last-child:not(:first-child) {
    			border-bottom-left-radius: 0;
        		border-top-left-radius: 0;
    		}
    	}
    	
    }
}
/* 垂直按钮组 */
@media (max-width: 767px) {
    .front-btn-group {
        margin-top: 10px;
        
        > .btn {
        	display: block;
        	float: none;
        	width: 100%;
        	max-width: 100%;
        	
        	+ .btn {
        		margin-top: -1px;
        		margin-left: 0;
    		}
    		
    		&:not(:first-child):not(:last-child) {
        		border-radius: 0;
    		}
    		&:first-child:not(:last-child) {
        		border-top-right-radius: 4px;
        		border-bottom-right-radius: 0;
        		border-bottom-left-radius: 0;
    		}
    		&:last-child:not(:first-child) {
        		border-bottom-left-radius: 4px;
        		border-top-right-radius: 0;
        		border-top-left-radius: 0;
    		}
    	}
    	
    }

}
@media ( min-width :768px) {
  .navbar-toggle {
    display: none
  }
}
