.navbar-default {
  border-color: $navBorderColor;
  background-color: $navbarColor;
  background-image: url($navbarImgUrl);
  
  .navbar-nav > li > a{
  	color: $navFontColor;
  	
  	&:hover,&:focus{
  		color: $navFontHoverColor;
  		background-color: transparent;
  	}
  }
  .navbar-nav>.open>a{
  	&,&:focus,&:hover{
  		background-color: $navbarOpenColor;
    	color: $navbarOpenFontColor;
  	}
  }
  
}
@media (max-width: 767px){
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    	color: $navCollapseFontColor;
    	
    	&:hover,&:focus{
    		color: $navCollapseFontColor_Focus;
    	}
	}
}
/* 导航栏横向菜单当前菜单样式 */
.front-active:after{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: $navActiveColor;
  content: '';
}

/* 移动端 */
@media (max-width: 991px) {
  /* 品牌图片在移动端时缩放并居中 */
  .nav-brand {
    float: left;
    width: 25%;
    height: 50px;
    position: relative;
    margin-left: 15px;
    
    img{
    	position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	margin: auto;
    }
  }
  /* 导航栏右侧按钮间距 & 正常图标 */
  .nav-right .area-media {
    margin: 18px 0 18px 15px;
    height: 14px; /* 固定高度为14 */
  }
  /* 触发左侧栏按钮 */
  .nav-toggle-left {
    position: fixed;
    top: 70px;
    left: 15px;
    height: 50px;
    width: 50px;
    opacity: .6; /* 透明 */
  }
  /* 用户头像箭头位置 */
  .nav-avatar-menu .arrow {
    right: 40px;
  }
  /* 产品导航菜单箭头位置 */
  .nav-pro > .arrow {
    right: 90px;
  }
  /* 横向菜单转垂直菜单，默认隐藏 */
  .nav-collapse {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color:$navCollapseColor;
    border-top: 1px solid $navCollapseBorder;
    padding: 0 15px;
  }
  /* 导航栏去掉左右padding */
  .front-nav .container {
    padding: 0;
  }
  /* 最右侧padding */
  .nav-toggle-down {
    padding: 18px 15px;
    height: 14px;
  }
  /* 弹出菜单右侧调节 */
  .nav-popover-media {
    right: 15px;
  }
  /* 侧栏滚动 */
  .nav-left-offcanvas {
    position: fixed;
    left: -50%;
    width: 50%;
    -webkit-transition: all .2s ease-out; /* 动画效果 */
    transition: all .2s ease-out; /* 动画效果 */
  }
  .nav-left-offcanvas.open {
    left: 0;
  }
  .front-canvas {
    position: relative;
    left: 0;
    -webkit-transition: all .2s ease-out; /* 动画效果 */
    transition: all .2s ease-out; /* 动画效果 */
  }
  .front-canvas.open {
    left: 50%;
  }
  /* 左侧栏出现时阻止滚动 */
  .front-inner-media {
    overflow-x: hidden;
  }
}
/* 桌面端 */
@media (min-width: 992px) {
  /* 品牌 */
  .nav-brand {
    float: left;
    padding: 10px 15px 10px 0;   
  }
  
  .nav-right .area-media {
    	/* 导航栏右侧按钮大图标 */
    	line-height: 20px;
    	font-size: 20px;
    	margin: 15px 0 15px 15px;
    	height: 20px; /* 固定高度为20 */
  	}
  /* 用户头像箭头位置 */
  .nav-avatar-menu .arrow {
    right: 10px;
  }
  /* 产品导航菜单箭头位置 */
  .nav-pro > .arrow {
    right: 61px;
  }
  /* 显示横向菜单 */
  .nav-collapse {
    display: block !important;
    visibility: visible !important;
  }
  /* 弹出菜单右侧调节 */
  .nav-popover-media {
    right: 0;
  }
  /* 侧边栏触发 */
  .nav-toggle-left {
    display: none;
  }
}
/* 导航栏头像 */
.nav-avatar {
  height: 46px;
  width: 46px;
}
/* 导航栏右侧 */
.nav-right {
  position: relative;
  float: right;
  
  .area {
  	/* 导航栏右侧按钮通用样式 */
  	float: left;
  	color: $navRightAreaFontColor;
  	cursor: pointer;
  	top: 0; /* 清除glyphicon top: 1px*/
	}
	
	> .area-avatar {
	/* 头像间距 */
  	margin: 0 0 0 15px;
	}
}
/* 头像位置调整 */
.nav-avatar {
  position: relative;
  top: 2px;
}
/* 产品导航图标 */
.nav-app {
  height: 24px;
  width: 24px;
  margin-top: 12px;
}

@mixin nav-arrow {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

/* 导航栏弹出菜单 */
.nav-popover {
  position: absolute;
  z-index: 1060;
  display: none;
  left: auto;
  top: 50px;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: $navPopoverColor;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid $navPopoverBorder;

  
  > .arrow{
  	@include nav-arrow;
  	border-width: 11px;
  	
  	&:after{
  		@include nav-arrow;
  		content: "";
  		border-width: 10px;
  	}
  }
}

.nav-popover.bottom {
	> .arrow {
  		top: -11px;
  		left: auto;
  		margin-left: -11px;
  		border-top-width: 0;
  		border-bottom-color: #999;
  		border-bottom-color: $navPopoverArrowBorder;
  	
  		&:after{
  			top: 1px;
  			margin-left: -10px;
  			content: " ";
  			border-top-width: 0;
  			border-bottom-color: $navPopoverArrowColor;
  		}
  	}
}

/* 产品导航弹出菜单 */
.nav-pro {
  padding: 5px;
  
  ul{
  	list-style: none;
  	padding-left: 0;
  	width: 240px;
  	
  	> li{
  		float: left;
  		position: relative;
  		padding: 5px;
  		width: 120px;
  		
  		img{
  			position: relative;
  			z-index: 1;
  			
  			&:hover{
  				transform: scale(1.05);
  				-webkit-transform: scale(1.05);
  			}
  		}
  	}
  }
}
/* 用户菜单 */
.nav-avatar-menu {

	ul {
  		z-index: 1000;
  		float: left;
  		min-width: 200px;
  		padding: 5px 0;
  		margin: 2px 0 0;
  		text-align: left;
  		list-style: none;
  		background-color: $navPopoverColor;
  		-webkit-background-clip: padding-box;
  		background-clip: padding-box;
  		
  		.divider {
 			height: 1px;
  			margin: 9px 0;
  			overflow: hidden;
  			background-color: $navPopoverDeviderColor;
		}
		
		>li >a {
			display: block;
  			padding: 3px 20px;
 	 		clear: both;
  			color: $navPopoverAlinkFontColor;
  			white-space: nowrap;
		
			&:hover,&:focus{
				color: $navPopoverAlinkFontColor_Focus;
  				text-decoration: none;
  				background-color: $navPopoverAlinkColor_Focus;
			}		
		} 
  	}	
}

.nav-left{
	.list-group-item {
    	border-radius: 0;
	}
	span.glyphicon {
    	float: right;
	}
	.nav-left-sub {
    	display: none;
    	margin-bottom: -1px;
	}

} 
.nav-left-sub {
    .list-group-item {
    	border: none;
	}
	
	&.open {
    	display: block;
	}
	
}

/* 导航栏dropdown弹出菜单 */
.nav-dropdown {
    border: 0;
}
/* 产品导航之当前产品样式 */
.nav-cur-pro {
    margin-bottom: 0;
    border: 1px solid $navCurProBorder;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    
    &:before{
    	width: 90px;
    	height: 90px;
    	content: '';
    	border-left: 1px solid $navPopoverColor;
    	border-top: 1px solid $navPopoverColor;
    	position: absolute;
    	top: -1px;
    	left: -1px;   
    }
    
    &:after{
    	width: 90px;
    	height: 90px;
    	content: '';
    	border-right: 1px solid $navPopoverColor;
    	border-bottom: 1px solid $navPopoverColor;
    	position: absolute;
    	right: -1px;
    	bottom: -1px;
    }
}
/*下拉菜单*/
.dropdown-menu{
	background-color:$navPopoverColor;	
	
	>li>a{
		color:$navPopoverAlinkFontColor;
		
		&:focus,&:hover{
			color:$navPopoverAlinkFontColor_Focus;
			background-color:$navPopoverAlinkColor_Focus;
		}
	}
}