/* 分页 */
@media (max-width: 767px) {
  .pagination{
    width:100%;
    border-radius:0px;
    
    >li{
    	>a,>span {
    		width:50%;
    		display:block;
    		text-align:center;
    		border-radius:0px;
    		margin-left:0px;
    		border: 0px;
    		border-bottom: 1px solid #ddd;
    	}
    	
    	&:first-child{
    		>a,>span{
    			width: 100%;
    			border-radius:0px;
    			border-top: 1px solid #ddd;
    			border-bottom: 1px solid #ddd;
    		}
    	}
    	
    	&:nth-child(even):not(:last-child) > a,
    	&:first-child:not(:last-child) > span{
    		border-right: 1px solid #ddd;
    	}
    	
    	&:last-child{
    		>a,>span{
    			width: 100%;
    			border-radius:0px;
    			margin-top: -1px;
    			border-top: 1px solid #ddd;
    		
    		}
    	}
    }
  }

}