/* 主题卡片 */
.theme-panel {
  border-color: $panelHeaderBorderColor;
  background-color: $panelBackgroundColor;
  
  > .panel-heading {
  	color: $panelHeaderFontColor;
  	background-color: $panelHeaderColor;
  	border-color: $panelHeaderBorderColor;
  }
  
  > .panel-body {
  	background-color: $panelBodyColor;
	}
}
