/* 卡片 */
.panel-default > .panel-heading {
  color: $noticeHeaderFontColor;
  background-color: $noticeHeaderColor;
  border-color: $noticeHeaderBorderColor;
}
.panel-default {
  border-color: $noticeHeaderBorderColor;
}
.panel-body {
  background-color: $noticeBodyColor;
}