/*搜索框*/
.searchBox {
	margin-bottom:10px;
}
.searchMain{
	width:50%;
	margin:0 auto;
	
	> input{
		width:80%;
		float:left;
		display:inline;
		border: $searchMainBorder solid;
    	border-width: 2px 0 2px 2px;
	
		&:focus{
			border: $searchMainBorder solid;
    		border-width: 2px 0 2px 2px;
		}
	}
	
	.btn{
		border-radius:0;
    	width:15%;
    	height:34px;
	}
}

@media (max-width: 991px) {
	.searchMain{
		width:100%;
		
		> .btn{
			border-radius:0;
    		width:20%;
		}
	}
}	