$bodyColor: #031023;
$bodyFontColor:#7c92bc;

$navbarColor: #041734;
$navBorderColor: #031023;
$navActiveColor: #3778bc;
$navFontColor: #7c92bc;
$navFontHoverColor: #333;
$navbarImgUrl: "";

$footerColor: #071730;
$footerImgUrl: "";

$panelHeaderFontColor: #7c92bc;
$panelHeaderColor: #041734;
$panelHeaderBorderColor: #031023;
$panelBodyColor: #0e2247;
$panelBodyFontColor: #7c92bc;
$panelBackgroundColor: #031023;