/* 脚手架 */
body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  color: $bodyFontColor;
}
html, body {
  height: 100%;
}
.front-body {
  background-color: $bodyColor;
}
.front-inner {
  padding-top: 70px;
  padding-bottom: 40px;
  position: relative;
  clear: both;
  min-height: 100%;
}