$bodyColor: #e7e7e7 !default;
$bodyFontColor: #333 !default;

$navbarColor: #f8f8f8 !default;
$navBorderColor: #e7e7e7 !default;
$navActiveColor: #3778bc !default;
$navFontColor: #777 !default;
$navFontHoverColor: #333 !default;
$navbarImgUrl: '' !default;

$footerColor: #f8f8f8 !default;
$footerImgUrl: '' !default;

$panelHeaderFontColor: #333333 !default;
$panelHeaderColor: #f5f5f5 !default;
$panelHeaderBorderColor: #ddd !default;
$panelBodyColor: #fff !default;
$panelBodyFontColor: inherit !default;
$panelBackgroundColor: #fff !default;

$parallax_1:url(../img/pic1.jpg);
$parallax_2:"";
$parallax_3:url(../img/pic2.jpg);
$parallax_4:"";
$parallax_5:url(../img/pic3.jpg);
$parallax_6:"";