$bodyColor: #031023;
$navbarColor: #041734;
$navBorderColor:#031023;
$navActiveColor: #3778bc;
$navFontColor:#7c92bc;
$navFontHoverColor:#333;
$footerColor: #071730;
$bodyFontColor:#7c92bc;
$navbarImgUrl: "";
$footerImgUrl: "";
$noticeHeaderFontColor:#7c92bc;
$noticeHeaderColor:#041734;
$noticeHeaderBorderColor:#031023;
$noticeBodyColor:#0e2247;
$noticeBodyFontColor:#7c92bc;