/* 颜色变量 */
@import "variables";

/* 页面脚手架 */
@import "scaffolding";

/* 覆盖Bootstrap */
@import "uniformity";

/* 布局 */
@import "layout/appstore";

/* 组件 */
@import "component/navbar";
@import "component/footer";
@import "component/panel";
@import "component/pagination";
@import "component/button";
@import "component/card";

/* 常用 */
@import "auxiliary/img"; /* 图像大小 */
@import "auxiliary/loading"; /* 加载样式 */
@import "auxiliary/text"; /* 文字过长省略号 */
@import "auxiliary/video"; /* 响应式video */

/* 插件相关 */
@import "plugin_related/modal";
@import "plugin_related/tipbox";
@import "plugin_related/tipmodal";