/* //页面
$bodyColor: #46545F;
$bodyFontColor: #DCDCDD;
//-----------------------------------------------------
//链接颜色
$alinkFontColor:#48cbec;
$alinkFontColor_Focus:#1985A1;
//---------------------------------------------------
//导航栏
$navbarColor: #46494C;
$navBorderColor: transparent;
$navActiveColor: #1985A1;
$navFontColor: #C5C3C6;
$navFontHoverColor: #DCDCDD;
$navbarImgUrl: '';
//打开下拉菜单的菜单项
$navbarOpenColor:#56595C;
$navbarOpenFontColor:inherit;
//下拉菜单

//导航栏弹出菜单
$navPopoverColor:#676A6C;
$navPopoverBorder:rgba(0, 0, 0, .2) !default;
$navPopoverDeviderColor:#56595C;

$navPopoverAlinkFontColor:#DCDCDD;
$navPopoverAlinkFontColor_Focus:#DCDCDD;
$navPopoverAlinkColor_Focus:#56595C;

$navPopoverArrowColor:#676A6C;
$navPopoverArrowBorder:rgba(0, 0, 0, .25) !default;
//产品导航
$navCurProBorder:#ccc !default;
//右侧按钮
$navRightAreaFontColor:#676A6C;
//横向菜单转垂直菜单，默认隐藏
$navCollapseColor:#46494C;
$navCollapseBorder:#56595C;
$navCollapseFontColor: #C5C3C6;
$navCollapseFontColor_Focus:#DCDCDD;
//--------------------------------------------
//页脚
$footerColor: #46494C;
$footerImgUrl: '';
//--------------------------------------------
//卡片
$panelHeaderFontColor: inherit;
$panelHeaderColor: #56595C;
$panelHeaderBorderColor: #56595C;
$panelBodyColor: #676A6C;
$panelBodyFontColor: inherit !default;
$panelBackgroundColor: #676A6C;
//--------------------------------------------
//分页
$paginationFontColor:inherit;
$paginationColor:#676A6C;
$paginationBorder:#56595C;
$paginationFontColor_Focus:inherit;
$paginationColor_Focus:#56595C;
$paginationBorder_Focus:#56595C;
//当前页
$paginationActiveFontColor:#FFE5D9;
$paginationActiveColor:#1985A1;
$paginationActiveBorder:#1985A1;
//不可点击页
$paginationDisableFontColor:inherit;
$paginationDisableColor:#676A6C;
$paginationDisableBorder:#56595C;
//---------------------------------------------
//左侧栏
//左侧栏整体边框
$navLeftSubBorder:#56595C;
//菜单项背景颜色
$listGroupItemColor:#676A6C;
//菜单项被选中时的背景颜色
$listGroupItemColor_Focus:#56595C;
//菜单项边框颜色
$listGroupItemBorder:#56595C;
//菜单项字体颜色
$listGroupItemFontColor:inherit;
//菜单项被选中时的字体颜色
$listGroupItemFontColor_Focus:inherit;
//当前菜单项字体颜色
$listGroupItemFontColor_Active:inherit;
//当前菜单项背景颜色
$listGroupItemColor_Active:#1985A1;
//当前菜单项边框颜色
$listGroupItemBorder_Active:#1985A1;
//当前子菜单项背景颜色
$frontNavLeftSubActive:#56595C;
//--------------------------------------------
//按钮组
//未选中按钮
$btnDefaultFontColor:inherit;
$btnDefaultColor:#56595C;
$btnDefaultBorder:#46494C;
//未选中按钮hover
$btnDefaultFontColor_Hover: inherit;
$btnDefaultColor_Hover: #515456;
$btnDefaultBorder_Hover: #46494C;
//未选中按钮focus
$btnDefaultFontColor_Focus: inherit;
$btnDefaultColor_Focus: #4A4D4F;
$btnDefaultBorder_Focus: #46494C;
//未选中按钮active
$btnDefaultFontColor_Active: inherit;
$btnDefaultColor_Active: #4A4D4F;
$btnDefaultBorder_Active: #46494C;

//按钮点击时
$btnDefaultFontColor_Click: inherit;
$btnDefaultColor_Click: #46494C;
$btnDefaultBorder_Click: #46494C;
		    
$btnPrimaryFontColor:#FFE5D9;
$btnPrimaryColor:#1985A1;
$btnPrimaryBorder:#1B5666;

$btnPrimaryFontColor_Hover:#FFE5D9;
$btnPrimaryColor_Hover:#25768B;
$btnPrimaryBorder_Hover:#1B5666;

$btnPrimaryFontColor_Focus: #FFE5D9;
$btnPrimaryColor_Focus: #177993;
$btnPrimaryBorder_Focus: #1B5666;

$btnPrimaryFontColor_Active:#FFE5D9;
$btnPrimaryColor_Active:#177993;
$btnPrimaryBorder_Active:#1B5666;

//按钮点击时
$btnPrimaryFontColor_Click: #FFE5D9;
$btnPrimaryColor_Click: #1B5666;
$btnPrimaryBorder_Click: #1B5666;

//按钮组折叠时
$navbarToggleColor:#676A6C;
$navbarToggleBorder:#56595C;
$navbarToggleIconBarColor:#56595C;
//--------------------------------------------
//表格
$tableBorder:#56595C ;
//条纹表格的奇数列背景
$tableStripedTr_odd:#56595C;
//---------------------------------------------
//搜索框
$searchMainBorder:#1985A1;
//---------------------------------------------
//模态框
//模态框主体颜色
$modelContentColor:#676A6C;

$modelHeaderColor:#56595C;
$modelHeaderBorder:#56595C;
//关闭按钮的颜色
$modelHeaderClose:inherit;

$modelFooterColor:#56595C;
$modelFooterBorder:#56595C;

//loading
//加载条颜色
$frontLoadingBlock:#1985A1;
//-----------------------------------------------
//应用商店组件
$categoryMenuColor:#676A6C; */