/* //默认样式
 //页面
$bodyColor: #e7e7e7 !default;
$bodyFontColor: #333 !default;
//---------------------------------------------------
//导航栏
$navbarColor: #f8f8f8 !default;
$navBorderColor: #e7e7e7 !default;
$navActiveColor: #3778bc !default;
$navFontColor: #777 !default;
$navFontHoverColor: #333 !default;
$navbarImgUrl: '' !default;
//导航栏弹出菜单
$navPopoverColor:#fff !default;
$navPopoverBorder:rgba(0, 0, 0, .2) !default;
$navPopoverDeviderColor:#e5e5e5 !default;

$navPopoverAlinkFontColor:#333 !default;
$navPopoverAlinkFontColor_Focus:#262626 !default;
$navPopoverAlinkColor_Focus:#f5f5f5 !default;

$navPopoverArrowColor:#fff !default;
$navPopoverArrowBorder:rgba(0, 0, 0, .25) !default;
//产品导航
$navCurProBorder:#ccc !default;
//右侧按钮
$navRightAreaFontColor:#777 !default;
//横向菜单转垂直菜单，默认隐藏
$navCollapseColor:#f8f8f8 !default;
$navCollapseBorder:#e7e7e7 !default;
//--------------------------------------------
//页脚
$footerColor: #f8f8f8 !default;
$footerImgUrl: '' !default;
//--------------------------------------------
//卡片
$panelHeaderFontColor: #333333 !default;
$panelHeaderColor: #f5f5f5 !default;
$panelHeaderBorderColor: #ddd !default;
$panelBodyColor: #fff !default;
$panelBodyFontColor: inherit !default;
$panelBackgroundColor: #fff !default;
//--------------------------------------------
//分页
$paginationFontColor:#337ab7 !default;
$paginationColor:#fff !default;
$paginationBorder:#ddd !default;
$paginationFontColor_Focus:#23527c !default;
$paginationColor_Focus:#eee !default;
$paginationBorder_Focus:#ddd !default;
//当前页
$paginationActiveFontColor:#fff !default;
$paginationActiveColor:#337ab7 !default;
$paginationActiveBorder:#337ab7 !default;
//不可点击页
$paginationDisableFontColor:#777 !default;
$paginationDisableColor:#fff !default;
$paginationDisableBorder:#ddd !default;
//---------------------------------------------
//左侧栏
//左侧栏整体边框
$navLeftSubBorder:#ddd !default;
//菜单项背景颜色
$listGroupItemColor:#fff !default;
//菜单项被选中时的背景颜色
$listGroupItemColor_Focus:#f5f5f5 !default;
//菜单项边框颜色
$listGroupItemBorder:#ddd !default;
//菜单项字体颜色
$listGroupItemFontColor:#555 !default;
//菜单项被选中时的字体颜色
$listGroupItemFontColor_Focus:#555 !default;
//当前菜单项字体颜色
$listGroupItemFontColor_Active:#fff !default;
//当前菜单项背景颜色
$listGroupItemColor_Active:#337ab7 !default;
//当前菜单项边框颜色
$listGroupItemBorder_Active:#337ab7 !default;
//当前子菜单项背景颜色
$frontNavLeftSubActive:#e7e7e7 !default;
//--------------------------------------------
//按钮组
$btnDefaultFontColor:#333 !default;
$btnDefaultColor:#fff !default;
$btnDefaultBorder:#ccc !default;

$btnDefaultFontColor_Hover: #333 !default;
$btnDefaultColor_Hover: #e6e6e6 !default;
$btnDefaultBorder_Hover: #adadad !default;

$btnDefaultFontColor_Focus: #333 !default;
$btnDefaultColor_Focus: #e6e6e6 !default;
$btnDefaultBorder_Focus: #8c8c8c !default;

$btnDefaultFontColor_Active: #333 !default;
$btnDefaultColor_Active: #e6e6e6 !default;
$btnDefaultBorder_Active: #adadad !default;

$btnDefaultActiveFontColor_Hover:#333 !default;
$btnDefaultActiveColor_Hover:#d4d4d4 !default;
$btnDefaultActiveBorder_Hover:#8c8c8c !default;

$btnDefaultActiveFontColor_Focus:#333 !default;
$btnDefaultActiveColor_Focus:#d4d4d4 !default;
$btnDefaultActiveBorder_Focus:#8c8c8c !default;

//按钮点击时
$btnDefaultFontColor_Click: #333 !default;
$btnDefaultColor_Click: #d4d4d4 !default;
$btnDefaultBorder_Click: #8c8c8c !default;
		    
$btnPrimaryFontColor:#fff !default;
$btnPrimaryColor:#337ab7 !default;
$btnPrimaryBorder:#2e6da4 !default;

$btnPrimaryFontColor_Hover:#fff !default;
$btnPrimaryColor_Hover:#286090 !default;
$btnPrimaryBorder_Hover:#204d74 !default;

$btnPrimaryFontColor_Focus: #ffffff  !default;
$btnPrimaryColor_Focus: #286090  !default;
$btnPrimaryBorder_Focus: #122b40  !default;

$btnPrimaryFontColor_Active:#fff !default;
$btnPrimaryColor_Active:#286090 !default;
$btnPrimaryBorder_Active:#122b40 !default;

//按钮点击时
$btnPrimaryFontColor_Click: #ffffff !default;
$btnPrimaryColor_Click: #204d74 !default;
$btnPrimaryBorder_Click: #122b40 !default;

//按钮组折叠时
$navbarToggleColor:#fff !default;
$navbarToggleBorder:#ccc !default;
$navbarToggleIconBarColor:#888 !default;
//--------------------------------------------
//表格
$tableBorder:#ddd !default;
//条纹表格的奇数列背景
$tableStripedTr_odd:#f9f9f9 !default;
//---------------------------------------------
//搜索框
$searchMainBorder:#337ab7 !default;
//---------------------------------------------
//模态框
//模态框主体颜色
$modelContentColor:#fff !default;

$modelHeaderColor:#f5f5f5 !default;
$modelHeaderBorder:#e5e5e5 !default;
//关闭按钮的颜色
$modelHeaderClose:#000 !default;

$modelFooterColor:#f5f5f5 !default;
$modelFooterBorder:#e5e5e5 !default;

//-----------------------------------------------
//loading
$frontLoadingBlock:#3777BC !default;
//-----------------------------------------------
//应用商店组件
$categoryMenuColor:#f5f5f5 !default;
//---------------------------------------------
$parallax_1:url(../img/pic1.jpg);
$parallax_2:"";
$parallax_3:url(../img/pic2.jpg);
$parallax_4:"";
$parallax_5:url(../img/pic3.jpg);
$parallax_6:""; */