/*  //页面
$bodyColor: #ffffff;
$bodyFontColor: #2c3e50;
//---------------------------------------------------
//链接颜色
$alinkFontColor:#18bc9c;
$alinkFontColor_Focus:#138c74;
//---------------------------------------------------
//导航栏
$navbarColor: #2c3e50;
$navBorderColor: transparent;
$navActiveColor: #18bc9c;
$navFontColor: #ffffff;
$navFontHoverColor: #18bc9c;
$navbarImgUrl: '';
//打开下拉菜单的菜单项
$navbarOpenColor:#1a242f;
$navbarOpenFontColor:#fff;

//导航栏弹出菜单
$navPopoverColor:#fff !default;
$navPopoverBorder:rgba(0, 0, 0, .2) !default;
$navPopoverDeviderColor:#e5e5e5 !default;

$navPopoverAlinkFontColor:inherit;
$navPopoverAlinkFontColor_Focus:inherit;
$navPopoverAlinkColor_Focus:#ecf0f1;

$navPopoverArrowColor:#fff !default;
$navPopoverArrowBorder:rgba(0, 0, 0, .25) !default;
//产品导航
$navCurProBorder:#ecf0f1;
//右侧按钮
$navRightAreaFontColor:#ecf0f1;
//横向菜单转垂直菜单，默认隐藏
$navCollapseColor:#2c3e50;
$navCollapseBorder:#ecf0f1;
$navCollapseFontColor:#ffffff;
$navCollapseFontColor_Focus:#18bc9c;
//--------------------------------------------
//页脚
$footerColor: #ecf0f1;
$footerImgUrl: '';
//--------------------------------------------
//卡片
$panelHeaderFontColor: #2c3e50;
$panelHeaderColor: #ecf0f1;
$panelHeaderBorderColor: #ddd;
$panelBodyColor: #fff !default;
$panelBodyFontColor: inherit !default;
$panelBackgroundColor: #fff !default;
//--------------------------------------------
//分页
$paginationFontColor:#2c3e50;
$paginationColor:#fff !default;
$paginationBorder:#ddd !default;
$paginationFontColor_Focus:#2c3e50;
$paginationColor_Focus:#ecf0f1;
$paginationBorder_Focus:#ddd !default;
//当前页
$paginationActiveFontColor:#fff !default;
$paginationActiveColor:#18bc9c;
$paginationActiveBorder:#18bc9c;
//不可点击页
$paginationDisableFontColor:#2c3e50;
$paginationDisableColor:#fff !default;
$paginationDisableBorder:#ddd !default;
//---------------------------------------------
//左侧栏
//左侧栏整体边框
$navLeftSubBorder:#ddd !default;
//菜单项背景颜色
$listGroupItemColor:#fff !default;
//菜单项被选中时的背景颜色
$listGroupItemColor_Focus:#ecf0f1;
//菜单项边框颜色
$listGroupItemBorder:#ddd !default;
//菜单项字体颜色
$listGroupItemFontColor:#2c3e50 !default;
//菜单项被选中时的字体颜色
$listGroupItemFontColor_Focus:#2c3e50 !default;
//当前菜单项字体颜色
$listGroupItemFontColor_Active:#fff !default;
//当前菜单项背景颜色
$listGroupItemColor_Active:#2c3e50;
//当前菜单项边框颜色
$listGroupItemBorder_Active:#2c3e50;
//当前子菜单项背景颜色
$frontNavLeftSubActive:#ecf0f1;
//--------------------------------------------
//按钮组
//未选中按钮
$btnDefaultFontColor:#ecf0f1;
$btnDefaultColor:#95a5a6;
$btnDefaultBorder:#798d8f;
//未选中按钮hover
$btnDefaultFontColor_Hover: #ffffff;
$btnDefaultColor_Hover: #798d8f;
$btnDefaultBorder_Hover: #798d8f;
//未选中按钮focus
$btnDefaultFontColor_Focus: #ffffff;
$btnDefaultColor_Focus: #798d8f;
$btnDefaultBorder_Focus: #566566;
//未选中按钮active
$btnDefaultFontColor_Active: #ffffff;
$btnDefaultColor_Active: #798d8f;
$btnDefaultBorder_Active: #798d8f;

//按钮点击时
$btnDefaultFontColor_Click: #ffffff;
$btnDefaultColor_Click: #687b7c;
$btnDefaultBorder_Click: #566566;
		    
$btnPrimaryFontColor:#fff !default;
$btnPrimaryColor:#2c3e50;
$btnPrimaryBorder:#2c3e50;

$btnPrimaryFontColor_Hover:#fff !default;
$btnPrimaryColor_Hover:#1a242f;
$btnPrimaryBorder_Hover:#161f29;

$btnPrimaryFontColor_Focus: #ffffff;
$btnPrimaryColor_Focus: #0d1318;
$btnPrimaryBorder_Focus: #000000;

$btnPrimaryFontColor_Active:#fff !default;
$btnPrimaryColor_Active:#1a242f;
$btnPrimaryBorder_Active:#161f29;

//按钮点击时
$btnPrimaryFontColor_Click: #ffffff;
$btnPrimaryColor_Click: #0d1318;
$btnPrimaryBorder_Click: #000000;

//按钮组折叠时
$navbarToggleColor:#95a5a6;
$navbarToggleBorder:#ccc !default;
$navbarToggleIconBarColor:#ecf0f1;
//--------------------------------------------
//表格
$tableBorder:#ddd ;
//条纹表格的奇数列背景
$tableStripedTr_odd:#ecf0f1;
//---------------------------------------------
//搜索框
$searchMainBorder:#2c3e50;
//---------------------------------------------
//模态框
//模态框主体颜色
$modelContentColor:#fff;

$modelHeaderColor:#fff;
$modelHeaderBorder:#e5e5e5;
//关闭按钮的颜色
$modelHeaderClose:#000;

$modelFooterColor:#fff;
$modelFooterBorder:#e5e5e5;
//-----------------------------------------------
//loading
$frontLoadingBlock:#18bc9c;
//-----------------------------------------------
//应用商店组件
$categoryMenuColor:#fff; */