<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>BtnGroup1</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/front.css"/>
</head>
<body>
  <div class="front-toolbar">
    <div class="front-toolbar-header clearfix">
      <button type="button" class="front-toolbar-toggle navbar-toggle" data-toggle="collapse" data-target="#freeshare">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="freeshare" class="front-btn-group collapse">
      <a class="btn btn-default front-no-box-shadow">Button</a>
      <a class="btn btn-default front-no-box-shadow">Button</a>
      <a class="btn btn-default front-no-box-shadow">Button</a>
      <a class="btn btn-default front-no-box-shadow">Button</a>
    </div>
  </div>
  <script src="/js/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="/js/common/front.js"></script>
</body>
</html>