<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Card(2)</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/css/front.css">
</head>
<body>
  <div class="container">
    <div class="panel-body front-news-panel">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading front-text-break">Title</h4>
          <p class="front-text-break">Arriving at one goal is the starting point to another.<br>一个目标的达成，就是另一个目标的开始。</p>
        </div>
      </div>
      <div class="btn-group front-news-op">
        <a class="btn btn-default">Button</a>
        <a class="btn btn-default">Button</a>
        <a class="btn btn-default">Button</a>
      </div>
    </div>
  </div>
</body>
</html>