.hero {
  background-image: url("/img/login/login_big.png");
  background-position: center center;
  overflow: hidden;
  background-size: cover;
  height: 685px;
  position: relative;
  top: -70px;
  padding-top: 200px;
}

.hero-login {
  background-image: url('/img/login/login_banner.png');
  background-position: center center;
  overflow: hidden;
  background-size: cover;
  height: 180px;
}

.login-page-btn {
  border: 2px solid white;
}

.top_margin30 {
  margin-top: 30px;
}

.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px !important
}

select.input-lg {
  height: 46px;
  line-height: 46px
}

select[multiple].input-lg, textarea.input-lg {
  height: auto
}
.front-remfield {
  margin: 0;
  font-size: 18px;
  line-height: 1.3333333;
}
.front-login-hr {
  height: 1px;
  background-color: #ccc;
  margin: 30px 0;
}
.feature {
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-login {
  z-index:999;
}
.footer {
  background-color: #333;
  height: 160px;
  padding-top: 45px;
  margin-top: 100px;
}
.footer-copyright {
  color: #fff;
}